
body {
    position: relative;
    /* height: 200px; */
    background-color: rgb(73, 204, 246);
    /* cursor: url(slack-imgs.com.cur), auto; */
    cursor: crosshair;

}
header{
    background-color: white;
    height: 50px;
}
#red {
    width: 25px;
    height: 25px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25px
}
#yellow {
    width: 25px;
    height: 25px;
    background-color: yellow;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25px
}
#green {
    width: 25px;
    height: 25px;
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;

}

#pink {
    width: 30px;
    height: 30px;
    background-color: pink;
    position: absolute;
    top: 0;
    left: 0;
}
